<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stock Monitoring and Alert System</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ml5/0.8.5/ml5.min.js"></script>
  <base href="/">
</head>
<body>
  <app-stock-monitor></app-stock-monitor>
</body>
</html>
<h1>succcess</h1> -->

<!-- stock-monitor.component.html -->
<!-- your.component.html -->
<!-- tensorflow.component.html -->

<!-- stock-monitor.component.html -->

<!-- linear-regression.component.html -->

<div>
  <button (click)="trainModel()">Train Model</button>
</div>

<div>
  <label for="inputX">Input X:</label>
  <input type="number" id="inputX" [(ngModel)]="inputX">
  <button (click)="predictValue()">Predict</button>
  <div *ngIf="prediction !== undefined">Prediction: {{ prediction }}</div>
</div>

  

 