.mat-toolbar {
  background-color: #03A9F4;
  font-family: 'Roboto', sans-serif; /* Adjust the font family as needed */
}

.navbar-title,
.mat-button,
.mat-icon-button {
  font-size: 16px; /* Adjust the font size as needed */
}





.stock-button {
  font-family: 'Roboto', sans-serif;
  top: -5%;
  margin: 0%;
  margin-right:1%;
  font-size: 15px;
    font-weight: 500;

    margin-left:-2%;
}

.stockon{
  margin-left:-1%;
}