<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Supplier</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>
  <button class="newuser" (click)="openAddUserDialog()">Add supplier</button>
<div style=" border-radius: 50px;">
  <h2 style=" float: inline-start !important;
  margin: inherit !important;
  padding: 12px 51px !important;
  font-size: 30px !important;">Supplier List</h2>
  
  <table>
    <caption></caption>
    <thead>
      <tr>
        <th>Supplier Name</th>
        <th>Supplier Email</th>
        <th>Username</th>
        <!-- <th>Password</th> -->
        <th>Supplier Product</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let userArray of users; let i = index">
        <tr *ngFor="let user of userArray; let j = index" [hidden]="user.deleted">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.product }}</td>
          <td>{{ user.username }}</td>
          <td>
            <button  (click)="editUser(i)"><i class="fas fa-edit fa-1x"></i></button>
            <button (click)="softDeleteUser(i, j)"><i class="fas fa-trash fa-1x"></i></button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
</body>
</html>
