/* #host {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 20px; 
    margin-right: 20px; 
   
  } */

  /* .mat-mdc-dialog-container .mdc-dialog__container {
    transition-duration: var(--mat-dialog-transition-duration, 0ms);
    width: 183px;
    margin: -60px;
    padding: -18px;
    height: 192px;
  }
  .mat-mdc-dialog-container, .mat-mdc-dialog-container .mdc-dialog__container, .mat-mdc-dialog-container .mdc-dialog__surface {
    max-height: max-content;
    min-height: max-content;
    min-width: 185px;
    max-width: max-content;
  } */


  /* user.component.css */
  *{
    margin: 28px 48px;
    margin-left: 18px;
    padding: 0px;  }
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  font-size: 24px;
}

th, td {
  border: 3px solid #070707;
  padding: 15px;
  text-align: center;

}

th{
  background-color: #070707;
  color: #fff;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #b9bbba;
}
tr:hover {
  background-color: #dddddd;
}

.newuser{
 
  width: 130px !important;
  height: 45px;
  border-radius: 50px;
  float: inline-end;
}


[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
  background-color: black;
  color: white;
  width: 86px;
}