<html>
  <head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>
<body>
  <button class="newuser" (click)="openAddUserDialog()">Add supplier</button>
<div>
  <h2>Supplier List</h2>
  <table>
    <thead>
      <tr>
        <th>supplier Name</th>
        <th>supplier Email</th>
        <th>Username</th>
        <th>Password</th>
        <th>supplier product</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{ user[0].name }}</td>
        <td>{{ user[0].email }}</td>
        <td>{{ user[0].username }}</td>
        <td>{{ user[0].password }}</td>
        <td>{{ user[0].product }}</td>
        <td>
          <button  (click)="editUser(i)"><i class="fas fa-edit"></i></button>
          <button (click)="deleteUser(i)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>
