/* Center the table and its heading */
table {
    /* width: 80%; */
    border-collapse: collapse; /* Collapse table borders */
  }
  
  /* Style the table header */
  th {
    padding: 12px;
    text-align: center; /* Center the text within the table header */
    /* background-color: #f2f2f2; */
    border-bottom: 1px solid #ddd; /* Bottom border for each table header cell */

    background-color: black;
    color:white;
  }
  
  /* Style the table data */
  td {
    padding: 14px;
    text-align: center; /* Center the text within the table cells */
    border-bottom: 1px solid #ddd; /* Bottom border for each table cell */
  }
  
  /* Style the table rows alternately */
  tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray background color for even rows */
  }
  h1 {
    text-align: center; /* Center the heading text horizontally */
    padding: 20px 0; /* Add padding to the top and bottom of the heading */
  }
    
tr:hover {
  background-color: #dddddd;
}


.user-box {
  display: flex;
  flex-direction: column;
  position: relative; 
  border: 2px solid #ccc;
  padding: 7px;
  text-align: center;
  background-color: #f0f0f0; 
  width: 134px;
  height: 80px;
  border-radius: 24px;
  margin: 25px 20px;
 margin-right: 20px;
 margin-left: 20px;

}