<mat-toolbar color="purple">
  <span class="navbar-title">Dynamic</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/landing-page" routerLinkActive="active">Home </button>
  <button mat-button routerLink="/orderlist" routerLinkActive="active">Data list</button>  
  <button mat-button routerLink="/prediction" routerLinkActive="active">Monitor</button>  

  <button mat-button routerLink="/alerthistory" routerLinkActive="active">Alert history</button> 
  <button mat-button routerLink="/about" routerLinkActive="active">About</button> 
  <button mat-button routerLink="/logout" routerLinkActive="active">Logout</button>
</mat-toolbar>
