
    table {
      width: 80%;
      table-layout: auto;
      font-size: 15px;
      box-shadow: 0 14px 18px rgba(0, 0, 0, 0.9); /* Add box shadow */
      margin: 0 auto; /* Center the table horizontally */
      border:none;
    border-radius:1%;

    }
  
  
  th {
    padding: 12px;
    text-align: center; /* Center the text within the table header */
    background-color: #000;
    border-bottom: 1px solid #ddd; /* Bottom border for each table header cell */
    color:white
  }
    td {
    padding: 10px;
    text-align: center; /* Center the text within the table cells */
    
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray background color for even rows */
    color:black
  }
  h1 {
    text-align: center; /* Center the heading text horizontally */
    padding: 20px 0; /* Add padding to the top and bottom of the heading */
  }
    

tr:hover {
  background-color: #18a1ad;
}


#set{
  background-color: black;
  border-radius: 101px;
  color: white;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
  
    border-radius: 15%;
    margin:5px;
}