<!-- <h1>StockList</h1>

<div *ngIf="stocks">
  <table>
    <thead>
      <tr>
        <th>Item ID</th>
        <th>Item Name</th>
        <th>Category</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
     
      <ng-container *ngFor="let item of stocks; let i = index"><tr> -->
        <!-- <tr *ngFor="let item of userArray; let j = index" [hidden]="item.deleted"> -->
          <!-- <td>{{ item.itemId }}</td>
          <td>{{ item.itemName }}</td>
          <td>{{ item.itemCategory }}</td>
          <td>{{ item.order_date }}</td>
          <td> -->
            <!-- <button  (click)="editStock(i)"><i class="fas fa-edit"></i>update</button> -->
            <!-- <button (click)="softDeleteStock(i, j)"><i class="fas fa-trash"></i></button> -->
          <!-- </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div> -->


<!-- item-list.component.html -->

<!-- <div *ngFor="let user of stocks; let i = index">
  <div>
    <p>{{ user.itemName }}</p>
    <p>{{ user.itemCategory }}</p>
    <button (click)="editUser(i)">Edit</button>
  </div>
</div> -->


<div *ngIf="stocks">
  <table>
    <thead>
      <tr>
        <th>Item ID</th>
        <th>Item Name</th>
        <th>Category</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
     
      <ng-container *ngFor="let item of stocks; let i = index"><tr> 
        <!-- <tr *ngFor="let item of userArray; let j = index" [hidden]="item.deleted"> -->
          <td>{{ item.itemId }}</td>
          <td>{{ item.itemName }}</td>
          <td>{{ item.itemCategory }}</td>
          <td>{{ item.order_date }}</td>
          <td>
            <button  (click)="editUser(i)"><i class="fas fa-edit"></i>update</button>
            <!-- <button (click)="softDeleteStock(i, j)"><i class="fas fa-trash"></i></button> -->
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>