<!DOCTYPE html>
<html lang="en"> 
  <head>
    <title>user</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>
<body style="border-radius: 120px;">
  <h2 class="heading" style=" float: inline-start !important;
  margin: inherit !important;
  padding: 12px 51px !important;
  font-size: 51px !important;">Users</h2>
  <button class="newuser" (click)="openAddUserDialog()">Add User</button>
  <div>

  <table >
    <caption></caption>
          <thead>
            <tr  class="header">
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Username</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
              <ng-container *ngFor="let userArray of users; let i = index">
              <tr *ngFor="let user of userArray; let j = index" [hidden]="user.deleted">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.username }}</td>
                <td>
                  <button  (click)="editUser(i)"><i class="fas fa-edit "></i></button>
                  <button (click)="softDeleteUser(i, j)"><i class="fas fa-trash "></i></button>
                </td>
              </tr>
            </ng-container>


          </tbody>
        </table>   
        
      </div>
           
</body>
</html>




