<!-- <div>
  <label for="itemId">Item ID:</label>
  <input type="number" id="itemId" [(ngModel)]="item.itemId">

  <label for="itemName">Item Name:</label>
  <input type="text" id="itemName" [(ngModel)]="item.itemName">

  <label for="itemDescription">Item Description:</label>
  <input type="text" id="itemDescription" [(ngModel)]="item.itemDescription">

  <label for="itemCategory">Item Category:</label>
  <input type="text" id="itemCategory" [(ngModel)]="item.itemCategory">

  <label for="order_date">Order Date:</label>
  <input type="date" id="order_date" [(ngModel)]="item.order_date">

  <label for="quantity">Quantity:</label>
  <input type="number" id="quantity" [(ngModel)]="item.quantity">

  <label for="status">Status:</label>
  <input type="text" id="status" [(ngModel)]="item.status">

  <button (click)="addIncomingStock()">Add Incoming Stock</button>
</div> -->

<div class="container">
  <label for="itemId" class="form-control">Item ID:</label>
  <input type="number" id="itemId" class="form-control" placeholder="Enter Item ID" [(ngModel)]="item.itemId">

  <label for="itemName" class="form-control">Item Name:</label>
  <input type="text" id="itemName" class="form-control" placeholder="Enter Item Name" [(ngModel)]="item.itemName">

  <label for="itemDescription" class="form-control">Item Description:</label>
  <input type="text" id="itemDescription" class="form-control" placeholder="Enter Item Description" [(ngModel)]="item.itemDescription">

  <label for="itemCategory" class="form-control">Item Category:</label>
  <input type="text" id="itemCategory" class="form-control" placeholder="Enter Item Category" [(ngModel)]="item.itemCategory">

  <label for="order_date" class="form-control">Order Date:</label>
  <input type="date" id="order_date" class="form-control" placeholder="Select Order Date" [(ngModel)]="item.order_date">

  <label for="quantity" class="form-control">Quantity:</label>
  <input type="number" id="quantity" class="form-control" placeholder="Enter Quantity" [(ngModel)]="item.quantity">

  <label for="status" class="form-control">Status:</label>
  <input type="text" id="status" class="form-control" placeholder="Enter Status" [(ngModel)]="item.status">

  <button class="form-control" (click)="addIncomingStock()">Add Incoming Stock</button>
</div>
