<!-- <div>
  <label for="itemId">Item ID:</label>
  <input type="number" id="itemId" [(ngModel)]="item.itemId">

  <label for="itemName">Item Name:</label>
  <input type="text" id="itemName" [(ngModel)]="item.itemName">

  <label for="itemDescription">Item Description:</label>
  <input type="text" id="itemDescription" [(ngModel)]="item.itemDescription">

  <label for="itemCategory">Item Category:</label>
  <input type="text" id="itemCategory" [(ngModel)]="item.itemCategory">

  <label for="order_date">Order Date:</label>
  <input type="date" id="order_date" [(ngModel)]="item.order_date">

  <label for="quantity">Quantity:</label>
  <input type="number" id="quantity" [(ngModel)]="item.quantity">

  <label for="status">Status:</label>
  <input type="text" id="status" [(ngModel)]="item.status">

  <button (click)="addIncomingStock()">Add Incoming Stock</button>
</div> -->
<!-- <h1>Stock Receiving</h1>
<div class="container">
  <label for="itemId" class="form-control">Item ID:</label>
  <input type="number" id="itemId" class="form-control" placeholder="Enter Item ID" [(ngModel)]="item.itemId">

  <label for="itemName" class="form-control">Item Name:</label>
  <input type="text" id="itemName" class="form-control" placeholder="Enter Item Name" [(ngModel)]="item.itemName">

  <label for="itemDescription" class="form-control">Item Description:</label>
  <input type="text" id="itemDescription" class="form-control" placeholder="Enter Item Description" [(ngModel)]="item.itemDescription">

  <label for="itemCategory" class="form-control">Item Category:</label>
  <input type="text" id="itemCategory" class="form-control" placeholder="Enter Item Category" [(ngModel)]="item.itemCategory">

  <label for="order_date" class="form-control">Order Date:</label>
  <input type="date" id="order_date" class="form-control" placeholder="Select Order Date" [(ngModel)]="item.order_date">

  <label for="quantity" class="form-control">Quantity:</label>
  <input type="number" id="quantity" class="form-control" placeholder="Enter Quantity" [(ngModel)]="item.quantity"> -->

  <!-- <label for="status" class="form-control">Status:</label>
  <input type="text" id="status" class="form-control" placeholder="Enter Status" [(ngModel)]="item.status"> -->
<!-- 
  <button class="form-control" (click)="addIncomingStock()">Add Incoming Stock</button>
</div> -->
<div class="container">
<h2 style="text-align: center;font-weight: bold;">Stock In</h2>
<form [formGroup]="item" (ngSubmit)="onSubmit()">
  <div>
    <label for="itemId" class="form-control">Item ID:</label>
    <input type="number" id="itemId" formControlName="itemId" placeholder="Enter Item ID" class="form-control">
    <small *ngIf="item.get('itemId')?.errors?.['required'] && item.get('itemId')?.touched" class="error-message">Item ID is required.</small>
  </div>
  <div>
    <label for="itemName" class="form-control">Item Name:</label>
    <input type="text" id="itemName" formControlName="itemName" placeholder="Enter Item Name" class="form-control">
    <small *ngIf="item.get('itemName')?.errors?.['required'] && item.get('itemName')?.touched" class="error-message">Item Name is required.</small>
    <small *ngIf="item.get('itemName')?.errors?.['containsNumber'] && item.get('itemName')?.touched">
      <span class="warning-message">No numbers allowed .</span>
    </small>
  </div>
  <div>
    <label for="itemDescription" class="form-control">Item Description:</label>
    <input type="text" id="itemDescription" formControlName="itemDescription" placeholder="Enter Item Description">
    <small *ngIf="item.get('itemDescription')?.errors?.['required'] && item.get('itemDescription')?.touched" class="error-message">Item Description is required.</small>
    <small *ngIf="item.get('itemDescription')?.errors?.['containsNumber'] && item.get('itemDescription')?.touched">
      <span class="warning-message">No numbers allowed .</span>
    </small>
  </div>
  <div>
    <label for="itemCategory" class="form-control">Item Category:</label>
    <input type="text" id="itemCategory" formControlName="itemCategory" placeholder="Enter Item Category" class="form-control">
    <small *ngIf="item.get('itemCategory')?.errors?.['required'] && item.get('itemCategory')?.touched" class="error-message">Item Category is required.</small>
    <small *ngIf="item.get('itemCategory')?.errors?.['containsNumber'] && item.get('itemCategory')?.touched">
      <span class="warning-message">No numbers allowed .</span>
    </small>
  </div>
  
  <div>
    <label for="order_date" class="form-control">Order Date:</label>
    <input type="date" id="order_date" formControlName="order_date" (change)="checkOrderDateValidity()" class="form-control">
    <small *ngIf="item.get('order_date')?.errors?.['required'] && item.get('order_date')?.touched" class="error-message">Order Date is required.</small>
  
    <small *ngIf="isDateInvalid && item.get('order_date')?.touched" class="warning-message">
      Selected date should be today or later.
    </small>
  </div>
  <div>
    <label for="quantity" class="form-control">Quantity:</label>
    <input type="number" id="quantity" formControlName="quantity" placeholder="Enter Quantity" class="form-control">
    <small *ngIf="(item.get('quantity')?.errors?.['required'] || item.get('quantity')?.errors?.['min']) && item.get('quantity')?.touched" class="error-message">Quantity is required and must be greater than 0.</small>
  </div>
  <!-- <div>
    <label for="status">Status:</label>
    <input type="text" id="status" formControlName="status" placeholder="Enter Status">
  </div> -->
  <div class="button-container">
    <button type="button" (click)="onCancelClick()">Cancel</button>
    <button type="submit" [disabled]="!item.valid">Submit</button>
  </div>
</form>
</div>