
<div class="bigcontainer"><div class="box">
    <div class="user-box" style="background-color: rgb(118, 216, 43);">
      <h2>No. of user</h2>
      <div class="user-count">{{ totalUsers }}</div>
    </div>
  

    <div class="user-box" style="background-color: rgb(216, 153, 43);">
      <h2>No. of supplier</h2>
      <div class="user-count">{{ totalsupplier }}</div>
    </div>

    <div class="user-box" style="background-color: rgb(216, 43, 190);">
      <h2>No. of stock</h2>
      <div class="user-count">{{ totalItems }}</div>
    </div>

    <div class="user-box" style="background-color: rgb(176, 216, 43);">
      <h2>No. of Orders</h2>
      <div class="user-count">{{ totalorders }}</div>
    </div>
<br>
<br>

   
  </div>
  <h2 style="font-size: 28px;">Recent Added stocks </h2>
  <table>    
<caption> </caption>
    <thead>
      <tr>
        <th>ID</th>
        <th>Item </th>
        <th>Description</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.itemId }}</td>
        <td>{{ item.itemName }}</td>
        <td>{{ item.itemDescription }}</td>
        <td>{{ item.itemCategory }}</td>
      </tr>
    </tbody>
  </table>
  
<div style="display: flex;flex-direction: row;">
  <div style="width: 800px;">    <canvas #newChart></canvas></div>
  
  <div>
  <h2>Recent orders </h2>

  <table style="font-size: 15px;">    
    <caption></caption>
    <thead >
      <tr>
       
        <th>Item </th>
       
        <th> Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.itemName }}</td>       
        <td>{{ item.order_date }}</td>
      </tr>
    </tbody>
  </table></div>
</div>


</div>