<div class="bigcontainer"><div class="box">
    <div class="user-box" style="background-color: rgb(118, 216, 43);">
      <h2>Number of user</h2>
      <div class="user-count">{{ totalUsers }}</div>
    </div>
  

    <div class="user-box" style="background-color: rgb(216, 153, 43);">
      <h2>Number of supplier</h2>
      <div class="user-count">{{ totalsupplier }}</div>
    </div>

    <div class="user-box" style="background-color: rgb(43, 153, 216);">
      <h2>Number of stock</h2>
      <div class="user-count">{{ totalItems }}</div>
    </div>

    <div class="user-box" style="background-color: rgb(176, 216, 43);">
      <h2>Number of Orders</h2>
      <div class="user-count">{{ totalorders }}</div>
    </div>
<br>
<br>

   
  </div>
  <table>    <!-- table -->

    <thead>
      <tr>
        <th>ID</th>
        <th>Item Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Order Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.id }}</td>
        <td>{{ item.itemName }}</td>
        <td>{{ item.itemDescription }}</td>
        <td>{{ item.itemCategory }}</td>
        <td>{{ item.order_date }}</td>
      </tr>
    </tbody>
  </table>
  

  <div style="width: 700px;">    <canvas #newChart></canvas>
  </div>
  <div style="width: 400px;">
    <canvas #myChart></canvas>
  </div>
 

</div>


