
<h2>Edit User</h2>
<form>
  <label>Supplier name: </label>
  <input type="text" [(ngModel)]="userData.name" name="name">
  <br>
  <label>Supplier Email: </label>
  <input type="email" [(ngModel)]="userData.email" name="email" readonly>
  
  <br>
  <label>Username: </label>
  <input type="text" [(ngModel)]="userData.username" name="username">
  <br>
  <label>Password: </label>
  <input type="password" [(ngModel)]="userData.password" name="password">
  <br>
  <label>Supplier product </label>
  <input type="text" [(ngModel)]="userData.product" name="product">
  <br>
  
  <button type="button" (click)="saveUser()">Save</button>
  <button type="button" (click)="closeDialog()">Cancel</button>
</form>


