<h1>Stock Availability Table</h1>

<div *ngIf="stockData">
   <table> <!--Stock Availability Table -->
    <caption>Stock Availability Table</caption>
    <thead>
      <tr>
        <th>Item ID</th>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Category</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of stockData.stock">
        <td>{{ item.itemId }}</td>
        <td>{{ item.itemName }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.itemCategory }}</td>
        <td>{{ item.order_date }}</td>
        <td [ngClass]="{'instock': item.status === 'instock', 'out-of-stock': item.status === 'Out of Stock','out-of-order': item.status === 'Out of order'}">{{ item.status }}</td>

      </tr>
    </tbody>
  </table>
</div>
