/* CSS */
/* Define the variables */
:root {
    --cell-odd-background-color: lightyellow;
    --row-mouse-hover-color: lightgreen;
  }
  
  /* Import the required CSS file */
  /* @import url('https://cdn.jsdelivr.net/npm/slickgrid-universal@3.2.2/common/dist/styles/css/slickgrid-theme-bootstrap.min.css'); */
  @import url('@slickgrid-universal/common/dist/styles/css/slickgrid-theme-bootstrap.css');  
  .slick-row:hover {
    background-color: var(--row-mouse-hover-color);
  }
  
  .slick-cell.odd {
    background-color: var(--cell-odd-background-color);
  }