<!-- outgoing-stock.component.html

<div>
  <h2>Add Outgoing Stock</h2>
  
  <div>
    <label for="itemId">Item ID:</label>
    <input type="number" id="itemId" [(ngModel)]="userDetails.itemId" name="itemId">
  </div>
  <div>
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" [(ngModel)]="userDetails.quantity" name="quantity">
  </div>
  <div>
    <label for="orderDate">Order Date:</label>
    <input type="date" id="orderDate" [(ngModel)]="userDetails.order_date" name="orderDate">
  </div>
  <button (click)="addOutgoingStock()">Add Outgoing Stock</button>
</div> -->
<!-- <h2>Remove Outgoing Stock</h2> -->


<!-- outgoing-stock.component.html -->

<div class="container">
  <h2>Stock Dispatch</h2>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <form [formGroup]="outgoingStockForm" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="itemId">Item ID:</label>
      <input type="number" id="itemId" formControlName="itemId">
      <small *ngIf="outgoingStockForm.get('itemId')?.errors?.['required'] && outgoingStockForm.get('itemId')?.touched" class="error-message">Item ID is required.</small>

    </div>
    <div class="form-control">
      <label for="itemName">Item Name:</label>
      <input type="text" id="itemName" formControlName="itemName">
      <small *ngIf="outgoingStockForm.get('itemName')?.errors?.['required'] && outgoingStockForm.get('itemName')?.touched" class="error-message">Item Name is required.</small>
    </div>
    <div class="form-control">
      <label for="quantity">Quantity:</label>
      <input type="number" id="quantity" formControlName="quantity">
      <small *ngIf="(outgoingStockForm.get('quantity')?.errors?.['required'] || outgoingStockForm.get('quantity')?.errors?.['min']) && outgoingStockForm.get('quantity')?.touched" class="error-message">Quantity is required and must be greater than 0.</small>
    </div>
    <div class="form-control">
      <label for="orderDate">Order Date:</label>
      <input type="date" id="order_date" formControlName="order_date">
      <small *ngIf="isDateInvalid && outgoingStockForm.get('outgoing_date')?.touched" class="warning-message">
        Selected date should be current  or futuristic.
      </small>
      <small *ngIf="outgoingStockForm.get('outgoing_date')?.errors?.['required'] && outgoingStockForm.get('outgoing_date')?.touched" class="error-message">Outgoing Date is required.</small>
   
    </div>
    <button type="submit" [disabled]="outgoingStockForm.invalid">Add Outgoing Stock</button>
  </form>
</div>
