<!-- Header -->
<!-- <header>
  <h1>Dynamic stock monitoring and alert system</h1>
</header> -->

<!-- Main Content Area -->


<!-- Footer -->
<!-- <footer>
  <p>&copy; 2024 My Angular App MAarthika</p>
</footer> -->
 <!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My Angular App</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body> 
  <app-root></app-root> 
  <main>
  
    <router-outlet></router-outlet>
  </main>-->
  <router-outlet></router-outlet>

  <script src="https://smtpjs.com/v3/smtp.js"></script>
<!--</body>
 </html> -->
