
table {
    border-collapse: collapse;
    table-layout: auto;
    border-radius: 20px;
    width: 100%;
    }
  
  th, td {
    border: 1px solid #000;
    padding: 15px;
    text-align: left;
    margin-left: 5%;
  }
  th{
    background-color: #000;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:nth-child(odd) {
    background-color: #b9bbba;
  }
  tr:hover {
    background-color: #dddddd;
  }
  
  
  tr:hover {
    background-color: #dddddd;
  }
  
 .tablediv{
 float: inline-end;
 padding-left: 200px;
 }
 .mat-mdc-table .mdc-data-table__header-row {
  height: 77px;

 }

 