

<div class="container">
  <div class="d-flex">
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
      <div class="title">
        <h2>Purchase Order Form</h2>
      </div>
      <div>
        <label for="order_id"><span>Item ID:</span></label>
        <input type="number" id="order_id" formControlName="order_id" placeholder="Enter Item ID">
        <small *ngIf="orderForm.get('order_id')?.errors?.['required'] && orderForm.get('order_id')?.touched"
          class="error-message">Item ID is required.</small>
      </div>
      <div>
        <label for="customer_id"><span>Customer ID:</span></label>
        <input type="number" id="customer_id" formControlName="customer_id" placeholder="Enter Customer ID">
        <small *ngIf="orderForm.get('customer_id')?.errors?.['required'] && orderForm.get('customer_id')?.touched"
          class="error-message">Customer ID is required.</small>
      </div>
      <div>
        <label for="order_date"><span>Order Date:</span></label>
        <input type="date" id="order_date" formControlName="order_date" (change)="checkOrderDateValidity()"  placeholder="Select Order Date">
        <small *ngIf="orderForm.get('order_date')?.errors?.['required'] && orderForm.get('order_date')?.touched"
          class="error-message">Order Date is required.</small>

          <small *ngIf="isDateInvalid && orderForm.get('order_date')?.touched" class="warning-message">
            Selected date should be today or later.
          </small>
      </div>

      
      <div>
        <label for="price"><span>Price:</span></label>
        <input type="number" id="price" formControlName="price" placeholder="Enter Price">
        <small *ngIf="orderForm.get('price')?.errors?.['required'] && orderForm.get('price')?.touched"
          class="error-message">Price is required.</small>
      </div>
      <div>
        <label for="stock_name"><span>Stock Name:</span></label>
        <input type="text" id="stock_name" formControlName="stock_name" placeholder="Enter Stock Name">
        <small *ngIf="orderForm.get('stock_name')?.errors?.['required'] && orderForm.get('stock_name')?.touched"
          class="error-message">Stock Name is required.</small>
          <small *ngIf="orderForm.get('stock_name')?.errors?.['containsNumber'] && orderForm.get('stock_name')?.touched">
            <span class="warning-message">No numbers allowed.</span>
          </small>
      </div>
      <div>
        <label for="stock_quantity"><span>Stock Quantity:</span></label>
        <input type="number" id="stock_quantity" formControlName="stock_quantity" placeholder="Enter Stock Quantity"  (input)="calculateTotalPrice()">
        <small *ngIf="orderForm.get('stock_quantity')?.errors?.['required'] && orderForm.get('stock_quantity')?.touched"
          class="error-message">Stock Quantity is required.</small>
      </div>
      <div>
        <label for="product_name"><span>Product Name:</span></label>
        <input type="text" id="product_name" formControlName="product_name" placeholder="Enter Product Name">
        <small *ngIf="orderForm.get('product_name')?.errors?.['required'] && orderForm.get('product_name')?.touched"
          class="error-message">Product Name is required.</small>
        <small *ngIf="orderForm.get('product_name')?.errors?.['containsNumber'] && orderForm.get('product_name')?.touched">
            <span class="warning-message">No numbers allowed.</span>
          </small>
      </div>
      <div>
        <label for="single_quantity_price"><span>Product Cost:</span></label>
        <input type="number" id="single_quantity_price" formControlName="single_quantity_price"
          placeholder="Enter Product Cost"  (input)="calculateTotalPrice()">
        <small *ngIf="orderForm.get('single_quantity_price')?.errors?.['required'] && orderForm.get('single_quantity_price')?.touched"
          class="error-message">Product Cost   is required.</small>
      </div>
    
      <button type="submit">Submit Order</button>
      <button type="button" (click)="onCancelClick()">Cancel</button>
    </form>
    <div class="Yorder">
      

      <h2>Order Details</h2>
      <table>
        <caption></caption>
        <tr colspan="2"><th>Your Order</th>
      <tr><div>
       <td> <label for="product_name">Product Name:</label></td>
       <td> <p>{{ orderForm.get('product_name')?.value }}</p></td>
      </div></tr>
      <tr><div>
      <td>  <label for="single_quantity_price">Product Cost</label></td>
      <td> <p>{{ orderForm.get('single_quantity_price')?.value | currency }}</p></td>
      </div></tr>
      <tr><div>
        <td>  <label for="total_price">Total Price:</label></td>
        <td> <p>{{ orderForm.get('total_price')?.value | currency }}</p></td>
        </div></tr>
  <tr>
      <div>
       <td> <label for="order_status">Status</label></td>
      <td>  <p>{{ orderForm.get('order_status')?.value  }}</p></td>
      </div></tr></table>
    </div>


    </div>
  </div>
  