<h2>Add User</h2>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Name:</label>
    <input type="text" formControlName="name" placeholder="Enter your name!">
    <small *ngIf="userForm.get('name')?.hasError('required') && userForm.get('name')?.touched">
      Name is required.
    </small>
  </div>
   
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" placeholder="Enter your Email!" formControlName="email" (blur)="checkEmailExists()" required />
    <small *ngIf="errorMessage && userForm.get('email')?.hasError('emailExists')" class="error-message" style="color: red;">
      {{ errorMessage }}
    </small>  

    <small *ngIf="userForm.get('email')?.hasError('required') && userForm.get('email')?.touched">
      Email is required.
    </small>
    <small *ngIf="userForm.get('email')?.hasError('email') && userForm.get('email')?.touched">
      Invalid email address.
    </small>
</div>
  <div>
    <label>Product:</label>
    <input type="text" formControlName="product" placeholder="Enter your Product!">
    <small *ngIf="userForm.get('product')?.hasError('required') && userForm.get('product')?.touched">
      product is required.
    </small>
  </div>
  <div>
    <label>Username:</label>
    <input type="text" formControlName="username" placeholder="Enter your Username!">
    <small *ngIf="userForm.get('username')?.hasError('required') && userForm.get('username')?.touched">
      username is required.
    </small>
  </div>
  <div>
    <label>Password:</label>
    <input type="password" placeholder="Enter your Password!" formControlName="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>

    <small *ngIf="userForm.get('password')?.hasError('password') && userForm.get('password')?.touched">
      Password is required.
      Password must contain at least 8 characters, one uppercase letter, one lowercase letter, one number, and one special character.
    </small>
  </div>
  <div>
    <button type="button" (click)="onCancelClick()">Cancel</button>
    <button type="submit"  [disabled]="userForm.invalid">Add</button>
  </div>
</form>
