<h2 style="text-align: center;">Add User</h2>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input type="text" formControlName="name" placeholder="Enter your Name!">
    <small *ngIf="userForm.get('name')?.hasError('required') && userForm.get('name')?.touched">
      Name is required.
    </small>
  </div>

  
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" placeholder="Enter your Email!" formControlName="email" (blur)="checkEmailExists()" required />
    <small *ngIf="errorMessage && userForm.get('email')?.hasError('emailExists')" class="error-message" style="color: red;">
      {{ errorMessage }}
    </small>  

    <small *ngIf="userForm.get('email')?.hasError('required') && userForm.get('email')?.touched">
      Email is required.
    </small>
    <small *ngIf="userForm.get('email')?.hasError('email') && userForm.get('email')?.touched">
      Invalid email address.
    </small>
</div>
  <div>
    <label for="role">Role:</label>
    <select formControlName="role">
      <option value="" disabled>Select Role</option>
      <option value="Admin">Admin</option>
      <option value="Staff">Staff</option>
      <option value="Manager">Manager</option>

    </select>
    <small *ngIf="userForm.get('role')?.hasError('required') && userForm.get('role')?.touched">
      Role is required.
    </small>
  </div>
  <div>
    <label for="username">Username:</label>
    <input type="text" formControlName="username" placeholder="Enter your Username!">
    <small *ngIf="userForm.get('username')?.hasError('required') && userForm.get('username')?.touched">
      username is required.
    </small>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" placeholder="Enter your Password!" formControlName="password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z\d]).{8,}$"  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"  >

  <small *ngIf="userForm.get('password')?.hasError('required') && userForm.get('password')?.touched">
      Password is required.
      Password must contain at least 8 characters, one uppercase letter, one lowercase letter, one number, and one special character.
    </small>
  </div>
  <div>
    <button type="button" (click)="onCancelClick()">Cancel</button>
    <button type="submit" [disabled]="userForm.invalid">Submit</button>

  </div>
</form>
